/* PADRONIZAÇÃO */
* {
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  margin: 0;
  padding: 0;
  color: var(--color-text);
  list-style-type: none;
}

:root {
  --color-backgroud: linear-gradient(180deg, #cfe2e8 0%, #77928e 100%);
  --color-primary: #cfe2e8;
  --color-secondary: #76918d;
  --color-secondaryOpacity: rgb(118, 145, 141, 0.8);
  --color-text: #04223c;
  --color-textOpacity: rgba(4, 34, 60, 0.5);
  --color-black: #000000;
  --color-white: #ffffff;
  font-size: 62.5%;
}

html {
  scroll-behavior: smooth;
}

body {
  background: var(--color-backgroud);
  width: 100%;
  font-size: 1.8rem;
}

.container {
  width: 100%;
}

a:link,
a:active,
a:visited {
  color: var(--color-text);
  text-decoration: none;
}

/* CABEÇALHO */
.header {
  background: var(--color-secondaryOpacity);
  width: 100%;
  display: flex;
  position: sticky;
  top: 0;
  left: 0;
  opacity: 0.95;
}

.header-content {
  width: 80%;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header-nav-list {
  display: flex;
  gap: 3rem;
  list-style: none;
  letter-spacing: 0.1rem;
}

.nav-list-link {
  padding: 1rem;
  font-weight: bold;
  text-transform: uppercase;
  transition: 0.3s;
}

.nav-list-link:hover {
  background-color: var(--color-textOpacity);
  border-radius: 0.5rem;
  color: var(--color-primary);
}

/* SEÇÃO SOBRE */
.about-container {
  width: 80%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin: 6rem auto 7rem;
  min-height: 70rem;
}

.about {
  width: 40%;
  display: flex;
  flex-direction: column;
  gap: 5rem;
}

.slogan {
  width: 90%;
  font-size: 4rem;
}

.about p {
  width: 90%;
  line-height: 1.5;
}

#about-img {
  width: 40%;
  border-radius: 1rem;
  box-shadow: 0 0 20px -5px var(--color-black);
}

.about span {
  font-weight: bold;
  font-size: 2.3rem;
}

/* SEÇÃO SERVIÇOS */

.services-container {
  width: 80%;
  margin: 7rem auto;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.services {
  width: 40%;
  display: flex;
  flex-direction: column;
  gap: 3rem;
  line-height: 1.5;
}

.services-img {
  width: 30%;
  border-radius: 1rem;
  box-shadow: 0 0 20px -5px var(--color-black);
}

.services-tilte {
  text-align: center;
  font-size: 3.8rem;
}

.services-lis-item {
  margin-bottom: 1.5rem;
}

.services-lis-item strong {
  font-size: 2rem;
}

.btn {
  width: 100%;
  text-align: center;
}

.btn-more {
  font-size: 2rem;
  border-radius: 0.5rem;
  padding: 0.8rem;
  background-color: var(--color-primary);
  transition: 0.2s;
}

.btn-more:hover {
  font-weight: bold;
  opacity: 0.8;
}

/* SEÇÃO MISSÃO */
.hero-title {
  display: block;
  margin-top: 10rem;
  text-align: center;
}

.hero-container {
  width: 80%;
  margin: 4rem auto 7rem;
  display: flex;
  justify-content: space-around;
}

.hero {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  line-height: 1.5;
}

.hero-p {
  font-size: 2.3rem;
}

.hero-p span {
  font-weight: bold;
  font-size: 2.3rem;
}

.hero-list-item {
  margin: 0 0 1rem 2rem;
}

.hero-img {
  width: 40%;
  border-radius: 1rem;
  box-shadow: 0 0 20px -5px var(--color-black);
}

/* DÚVIDAS */

.duvidas {
  width: 80%;
  margin: 7rem auto;
  padding-top: 3rem;
}

#faq {
  width: 80%;
  margin: 0 auto;
}

.duvidas h2 {
  display: block;
  font-size: 2.4rem;
  padding-bottom: 3rem;
  text-align: center;
}

.faq-img1,
.faq-img2,
.faq-img3,
.faq-img4 {
  display: inline;
  width: 1.3rem;
  margin-left: 1rem;
  margin-right: 1.5rem;
}

#faq-item1 {
  display: block;
  width: 100%;
  padding: 0.5rem;
  font-size: 1.8rem;
  margin-bottom: 0.5rem;
  z-index: 3;
  border: 1px solid var(--color-black);
  border-radius: 5px;
  box-shadow: 0 0 10px -5px var(--color-black);
}

#faq-item2 {
  width: 100%;
  padding: 0.5rem;
  font-size: 1.8rem;
  margin-bottom: 0.5rem;
  z-index: 3;
  border: 1px solid var(--color-black);
  border-radius: 5px;
  box-shadow: 0 0 10px -5px var(--color-black);
}

#faq-item3 {
  width: 100%;
  padding: 0.5rem;
  font-size: 1.8rem;
  margin-bottom: 0.5rem;
  z-index: 3;
  border: 1px solid var(--color-black);
  border-radius: 5px;
  box-shadow: 0 0 10px -5px var(--color-black);
}

#faq-item4 {
  width: 100%;
  padding: 0.5rem;
  font-size: 1.8rem;
  margin-bottom: 0.5rem;
  z-index: 3;
  border: 1px solid var(--color-black);
  border-radius: 5px;
  box-shadow: 0 0 10px -5px var(--color-black);
}

.resposta-on1 {
  clear: both;
  display: block;
  width: 100%;
  position: relative;
  padding: 1rem;
  margin-bottom: 2rem;
  font-size: 1.6rem;
  transition: 0.3s;
  opacity: 1;
  z-index: 1;
}

.resposta-off1 {
  pointer-events: none;
  clear: both;
  width: 100%;
  position: relative;
  margin-bottom: -5rem;
  padding: 1rem;
  font-size: 1.6rem;
  z-index: 1;
  transition: 0.3s;
  opacity: 0;
}

.resposta-on2 {
  clear: both;
  display: block;
  width: 100%;
  position: relative;
  padding: 1rem;
  margin-bottom: 2rem;
  font-size: 1.6rem;
  transition: 0.3s;
  opacity: 1;
  z-index: 1;
}

.resposta-off2 {
  pointer-events: none;
  clear: both;
  width: 100%;
  position: relative;
  margin-bottom: -5rem;
  padding: 1rem;
  font-size: 1.6rem;
  z-index: 1;
  transition: 0.3s;
  opacity: 0;
}

.resposta-on3 {
  clear: both;
  display: block;
  width: 100%;
  position: relative;
  padding: 1rem;
  margin-bottom: 2rem;
  font-size: 1.6rem;
  transition: 0.3s;
  opacity: 1;
  z-index: 1;
}

.resposta-off3 {
  pointer-events: none;
  clear: both;
  width: 100%;
  position: relative;
  margin-bottom: -5rem;
  padding: 1rem;
  font-size: 1.6rem;
  z-index: 1;
  transition: 0.3s;
  opacity: 0;
}

.resposta-on4 {
  clear: both;
  display: block;
  width: 100%;
  position: relative;
  padding: 1rem;
  margin-bottom: 2rem;
  font-size: 1.6rem;
  transition: 0.3s;
  opacity: 1;
  z-index: 1;
}

.resposta-off4 {
  pointer-events: none;
  clear: both;
  width: 100%;
  position: relative;
  margin-bottom: -5rem;
  padding: 1rem;
  font-size: 1.6rem;
  z-index: 1;
  transition: 0.3s;
  opacity: 0;
}

/* FOOTER */
footer {
  clear: both;
  width: 100%;
  line-height: 5rem;
  text-align: center;
  font-size: 1.5rem;
  color: var(--color-text);
  background-color: var(--color-secondary);
}
