/* PADRONIZAÇÃO */
* {
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  margin: 0;
  padding: 0;
  color: var(--color-text);
}

:root {
  --color-backgroud: linear-gradient(180deg, #cfe2e8 0%, #77928e 100%);
  --color-primary: #cfe2e8;
  --color-secondary: #76918d;
  --color-black: #000000;
  --color-white: #ffffff;
  --color-text: #04223c;
  font-size: 62.5%;
}

/* 003335  002c2e*/
body {
  background: var(--color-backgroud);
  width: 100%;
  min-height: 100vh;
  font-size: 1.8rem;
}

#container {
  width: 100%;
  padding-top: 8rem;
}

/* CABEÇALHO */
header {
  background: var(--color-secondary);
  width: 100%;
  height: 7rem;
  position: fixed;
  top: 0rem;
  z-index: 1;
}

#cabecalho {
  width: 80%;
  margin: 0 auto;
}

nav {
  float: right;
  margin-top: 2.3rem;
}

li {
  list-style: none;
  float: left;
  padding: 0 2rem;
  font-size: 2rem;
}

h1 {
  position: absolute;
  margin-top: 1.5rem;
  left: 28rem;
}

/* LOGO */

#logo {
  width: 8rem;
  float: left;
  margin-top: -0.2rem;
}

/* LINKS NAVEGAÇÃO */

a:link,
a:active,
a:visited {
  color: var(--color-text);
  text-decoration: none;
}

a:hover {
  font-weight: bold;
}

/* SEÇÃO SOBRE */
.sobre {
  width: 80%;
  margin: 7rem auto;
  min-height: 70rem;
}

.cx-sobre {
  float: left;
  width: 40%;
  margin: 10rem 5rem;
}

.slogan {
  width: 90%;
  margin: 2.5rem auto 0;
  font-size: 4rem;
}

.sobre p {
  width: 90%;
  margin: 5rem auto 0;
  text-align: justify;
  font-size: 2rem;
}

#img-apresentacao {
  float: right;
  width: 65rem;
  border-radius: 15px;
  box-shadow: 0 0 10px var(--color-black);
}

span {
  font-weight: bold;
  font-size: 2.3rem;
}

/* SEÇÃO SERVIÇOS */

.servicos {
  clear: both;
  width: 80%;
  margin: 8.5rem auto;
  min-height: 70rem;
  color: var(--color-text);
}

.cx-servicos {
  float: left;
  width: 55%;
  margin: 8rem 5rem 10rem 10rem;
  font-size: 2rem;
}

.cx-servicos h2 {
  margin-bottom: 2rem;
}

.cx-servicos p {
  width: 90%;
  margin: 2rem auto;
}

#list-servicos {
  width: 90%;
}

#item-servicos {
  width: 100%;
  margin-left: 2rem;
  margin-top: 2rem;
  text-align: justify;
}

#img-servicos {
  float: left;
  width: 45rem;
  border-radius: 15px;
  box-shadow: 0 0 10px var(--color-black);
}

.btn {
  clear: both;
  width: 100%;
  margin-top: 40rem;
  text-align: center;
}

.btn-more {
  font-size: 2rem;
  border: none;
  border-radius: 0.5rem;
  padding: 0.6rem 0.6rem;
  background-color: var(--color-primary);
  opacity: 1;
  transition: 0.3s;
}

.btn-more:hover {
  font-weight: bold;
  opacity: 0.8;
  cursor: pointer;
}

/* SEÇÃO MISSÃO */
.missao {
  width: 80%;
  margin: 10rem auto;
}

.missao h2 {
  text-align: center;
  margin-bottom: 2rem;
}

.missao p {
  font-size: 2.3rem;
  margin-bottom: 6rem;
  margin-left: 5rem;
}

.missao ul {
  float: left;
  width: 45%;
  margin-top: 7rem;
}

.missao li {
  width: 100%;
  margin-bottom: 1rem;
  margin-left: 7rem;
}

.missao img {
  float: right;
  width: 45%;
  margin: 4rem 1rem;
  border-radius: 15px;
  box-shadow: 0 0 10px var(--color-black);
}

/* DÚVIDAS */

.duvidas {
  clear: both;
  width: 80%;
  min-height: 60vh;
  margin: 3rem auto;
  padding-top: 3rem;
}

.duvidas h2 {
  font-size: 2.4rem;
  padding-bottom: 2rem;
  text-align: center;
}

.faq-img {
  display: inline;
  width: 1.3rem;
  margin-right: 1rem;
}

#faq-item1 {
  position: absolute;
  left: 38rem;
  padding: 0.5rem;
  font-size: 1.8rem;
  z-index: 2;
  width: 60%;
  border: 1px solid var(--color-black);
  border-radius: 5px;
  box-shadow: 0 0 10px var(--color-secondary);
}

#faq-item2 {
  position: relative;
  top: 10rem;
  padding: 0.5rem;
  font-size: 1.8rem;
  z-index: 2;
  width: 60%;
  border: 1px solid var(--color-black);
  border-radius: 5px;
  box-shadow: 0 0 10px var(--color-secondary);
}

#faq-item3 {
  position: absolute;
  left: 38rem;
  padding: 0.5rem;
  font-size: 1.8rem;
  z-index: 2;
  width: 60%;
  border: 1px solid var(--color-black);
  border-radius: 5px;
  box-shadow: 0 0 10px var(--color-secondary);
}
#faq-item4 {
  position: absolute;
  left: 38rem;
  padding: 0.5rem;
  font-size: 1.8rem;
  z-index: 2;
  width: 60%;
  border: 1px solid var(--color-black);
  border-radius: 5px;
  box-shadow: 0 0 10px var(--color-secondary);
}

.resposta-on {
  clear: both;
  display: block;
  width: 60%;
  position: absolute;
  top: 244rem;
  left: 38rem;
  padding: 2rem;
  text-align: justify;
  border-left: 1px solid var(--color-black);
  border-right: 1px solid var(--color-black);
  border-bottom: 1px solid var(--color-black);
  border-radius: 5px;
  transition: 0.3s;
  opacity: 1;
  z-index: 2;
  box-shadow: 0 0 10px var(--color-secondary);
}

.resposta-off {
  clear: both;
  display: block;
  width: 60%;
  position: absolute;
  top: 240rem;
  left: 38rem;
  text-align: justify;
  z-index: 1;
  padding: 2rem;
  border-left: 1px solid var(--color-black);
  border-right: 1px solid var(--color-black);
  border-bottom: 1px solid var(--color-black);
  border-radius: 5px;
  transition: 0.3s;
  opacity: 0;
}

.resposta p {
  display: block;
  padding: 1rem;
}

/* FOOTER */
footer {
  width: 100%;
  clear: both;
  line-height: 3rem;
  text-align: center;
  background-color: var(--color-secondary);
  font-size: 1.6rem;
  color: var(--color-text);
}
