/* PADRONIZAÇÃO */
* {
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  margin: 0;
  padding: 0;
  color: var(--color-text);
}

:root {
  --color-backgroud: linear-gradient(180deg, #cfe2e8 0%, #77928e 100%);
  --color-primary: #cfe2e8;
  --color-secondary: #76918d;
  --color-black: #000000;
  --color-white: #ffffff;
  --color-text: #04223c;
  font-size: 62.5%;
}

/* 003335  002c2e*/
body {
  background: var(--color-backgroud);
  width: 100%;
  font-size: 1.8rem;
}

#container {
  width: 100%;
  padding-top: 8rem;
}

/* CABEÇALHO */
header {
  background: var(--color-secondary);
  width: 100%;
  height: 7rem;
  position: fixed;
  top: 0rem;
  z-index: 1;
}

#cabecalho {
  width: 80%;
  margin: 0 auto;
}

nav {
  float: right;
  margin-top: 2.3rem;
}

li {
  list-style: none;
  float: left;
  padding: 0 2rem;
  font-size: 2rem;
}

h1 {
  position: absolute;
  margin-top: 1.5rem;
  left: 28rem;
}

/* LOGO */

#logo {
  width: 8rem;
  float: left;
  margin-top: -0.2rem;
}

/* LINKS NAVEGAÇÃO */

a:link,
a:active,
a:visited {
  color: var(--color-text);
  text-decoration: none;
}

a:hover {
  font-weight: bold;
}

/* SEÇÕES GERAL*/

span {
  font-weight: bold;
  font-size: 2.3rem;
}

img {
  width: 1.2rem;
  margin-right: 1rem;
}

.itens-servicos {
  font-size: 1.8rem;
  clear: both;
}

h3 {
  text-align: center;
  font-size: 2.6rem;
  margin-bottom: 1.5rem;
}

/* SEÇÃO CAPA */

.capa {
  clear: both;
  width: 90%;
  margin: 2rem auto 0;
  padding-bottom: 1rem;
  min-height: 10rem;
  border-bottom: 1px solid var(--color-secondary);
}

.capa h2 {
  padding: 1rem;
  margin-bottom: 1.5rem;
  font-size: 3.4rem;
}

.capa .p1 {
  display: block;
  text-align: center;
}

.capa .p2 {
  text-align: center;
  margin-bottom: 2rem;
}

/* SEÇÃO LAVAGEM */
.lavagem {
  margin: 1rem auto;
  padding-bottom: 1rem;
  width: 90%;
  min-height: 50vh;
  border-bottom: 1px solid var(--color-secondary);
}

/* SEÇÃO INTERIOR */
.interior {
  margin: 1rem auto;
  padding-bottom: 1rem;
  width: 90%;
  min-height: 50vh;
  border-bottom: 1px solid var(--color-secondary);
}

/* SEÇÃO POLIMENTO */
.polimento {
  margin: 1rem auto;
  padding-bottom: 1rem;
  width: 90%;
  min-height: 50vh;
  border-bottom: 1px solid var(--color-secondary);
}

/* SEÇÃO RODAS */
.rodas {
  margin: 1rem auto;
  padding-bottom: 1rem;
  width: 90%;
  min-height: 50vh;
  border-bottom: 1px solid var(--color-secondary);
}

/* SEÇÃO READ */
.read {
  margin: 1rem auto;
  padding: 2rem 0;
  width: 90%;
}

#img-detalhes {
  float: left;
  width: 50%;
}

#img-detalhes img {
  display: block;
  width: 20rem;
  margin: 0 auto;
}

#list-detalhes {
  float: right;
  width: 50%;
  height: 20rem;
}

#itens {
  clear: both;
  list-style-type: square;
  font-size: 1.8rem;
  padding: 0;
  margin: 0.5rem 2rem;
}

.read p {
  clear: both;
  text-align: center;
  margin: 2rem 0;
  padding: 5rem 0 0;
}

/* FOOTER */
footer {
  width: 100%;
  clear: both;
  line-height: 3rem;
  text-align: center;
  background-color: var(--color-secondary);
  font-size: 1.6rem;
  color: var(--color-text);
}
