/* PADRONIZAÇÃO */
* {
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  margin: 0;
  padding: 0;
  color: var(--color-text);
  list-style-type: none;
}

:root {
  --color-backgroud: linear-gradient(180deg, #cfe2e8 0%, #77928e 100%);
  --color-primary: #cfe2e8;
  --color-secondary: #76918d;
  --color-secondaryOpacity: rgb(118, 145, 141, 0.8);
  --color-text: #04223c;
  --color-textOpacity: rgba(4, 34, 60, 0.5);
  --color-black: #000000;
  --color-white: #ffffff;
  font-size: 62.5%;
}

html {
  scroll-behavior: smooth;
}

.body {
  background: var(--color-backgroud);
  width: 100%;
  font-size: 1.8rem;
}

.cont-main {
  width: 100%;
}

a:link,
a:active,
a:visited {
  color: var(--color-text);
  text-decoration: none;
}

/* CABEÇALHO */
.header-main {
  background: var(--color-secondaryOpacity);
  width: 100%;
  display: flex;
  position: sticky;
  z-index: 2;
  top: 0;
  left: 0;
  opacity: 0.95;
}

.header-cont {
  width: 80%;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header-navi-list {
  display: flex;
  gap: 2rem;
  list-style: none;
  letter-spacing: 0.1rem;
}

.navi-list-link {
  padding: 1rem;
  font-weight: bold;
  text-transform: uppercase;
  transition: 0.2s;
}

.navi-list-link:hover {
  text-decoration: underline;
  color: var(--color-primary);
}

/* SECTION - CAPA */
.capa-container {
  width: 100%;
}

.capa {
  text-align: center;
  width: 80%;
  margin: 2rem auto;
  padding-bottom: 1rem;
  border-bottom: 1px solid var(--color-secondary);
}

.capa-h2 {
  padding: 1rem;
  text-align: left;
  margin-bottom: 1.5rem;
  font-size: 3.4rem;
  font-weight: bold;
}

.capa .p1 {
  display: block;
  margin-bottom: 0.5rem;
}

.capa .p2 {
  margin-bottom: 2rem;
}

/* SECTION SERVICES */
.services {
  width: 80%;
  margin: auto;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  margin-top: 4rem;
  gap: 5rem;
}

.card-services {
  max-width: 45%;
  background-color: var(--color-primary);
  border: 1px solid var(--color-secondary);
  border-radius: 35px 10px;
  box-shadow: 0 0 10px var(--color-secondary);
}

.cards-container {
  display: flex;
  padding: 3rem;
}

.cards-img {
  width: 40%;
  border-radius: 0.8rem;
}

.cards-list {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  font-size: 1.6rem;
}

/* SECTION - SERVICES - ITEMS */

.itens-servicos {
  margin: 1rem 0 0 3rem;
}

.img-check {
  width: 1.2rem;
  margin-right: 1rem;
}

.title h3 {
  text-align: center;
  font-size: 2.6rem;
  margin: 1.5rem 0;
  font-weight: bold;
}

.title {
  width: 100%;
  margin: 2rem auto;
}

.title p {
  text-align: center;
  padding: 1.5rem 0;
  margin-bottom: 1rem;
}

/* BUTTON - MORE */

.btn {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
  margin: 6rem auto 0;
}

.btn-more {
  display: block;
  margin: 0 auto;
  width: 14rem;
  text-align: center;
  font-size: 1.8rem;
  border: none;
  border-radius: 0.5rem;
  padding: 0.6rem 1.2rem;
  background-color: var(--color-primary);
  opacity: 1;
  transition: 0.3s;
}

.btn-more:hover {
  font-weight: bold;
  opacity: 0.8;
  cursor: pointer;
}

.hr {
  width: 80%;
  margin: 5rem auto 0;
  border-top: 2px solid var(--color-black);
}

/* SECTION - IMAGES */
.carrosel {
  width: 80%;
  display: block;
  margin: 10rem auto 0;
}

/* SEÇÃO READ */
.read {
  width: 60%;
  margin: 8rem auto 0;
}

.read-content {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.read-img {
  width: 30%;
}

.content-list {
  width: 60%;
}

.itens {
  list-style-type: square;
  font-size: 1.8rem;
  margin: 0 2rem;
  line-height: 1.8;
}

span {
  font-weight: bold;
  font-size: 2.3rem;
}

.read h3 {
  text-align: center;
  font-size: 2.6rem;
  font-weight: bold;
}

.read p {
  text-align: center;
  margin: 2rem 0;
}

/* FOOTER */
footer {
  width: 100%;
  line-height: 3rem;
  text-align: center;
  background-color: var(--color-secondary);
  font-size: 1.6rem;
}

/* RESPONSIVIDADE */
@media screen and (max-width: 72rem) {
  .header-cont {
    width: 100%;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .header-navi-list {
    display: flex;
    gap: 0.1rem;
    font-size: 1.6rem;
  }

  .navi-list-link {
    transition: 0.2s;
  }

  .capa {
    text-align: start;
  }

  .capa-h2 {
    text-align: center;
  }

  .p1 {
    padding-bottom: 1rem;
  }

  .services {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
  }

  .card-services {
    max-width: 80%;
  }

  .cards-container {
    display: flex;
    flex-direction: column;
    padding: 2rem;
  }

  .cards-img {
    width: 60%;
    border-radius: 0.8rem;
    margin: auto;
  }

  .cards-list {
    margin-top: 2rem;
  }

  .title {
    text-align: center;
    width: 80%;
    margin: 2rem auto 0;
  }

  .carrosel {
    width: 90%;
  }

  .read-content {
    flex-direction: column;
    width: 100%;
  }

  .read-img {
    width: 80%;
  }

  .content-list {
    width: 100%;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .footer-container-content {
    width: 100%;
    align-items: center;
    margin-bottom: 4rem;
  }

  .footer-email {
    width: 100%;
  }
}
