/* PADRONIZAÇÃO */
* {
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  margin: 0;
  padding: 0;
  color: var(--color-text);
  list-style-type: none;
}

:root {
  --color-backgroud: linear-gradient(180deg, #cfe2e8 0%, #77928e 100%);
  --color-primary: #cfe2e8;
  --color-secondary: #76918d;
  --color-secondaryOpacity: rgb(118, 145, 141, 0.8);
  --color-text: #04223c;
  --color-textOpacity: rgba(4, 34, 60, 0.5);
  --color-black: #000000;
  --color-white: #ffffff;
  font-size: 62.5%;
}

html {
  scroll-behavior: smooth;
}

body {
  background: var(--color-backgroud);
  width: 100%;
  font-size: 1.8rem;
}

.container {
  width: 100%;
}

a:link,
a:active,
a:visited {
  color: var(--color-text);
  text-decoration: none;
}

/* CABEÇALHO */
.header {
  background: var(--color-secondaryOpacity);
  width: 100%;
  display: flex;
  position: sticky;
  top: 0;
  left: 0;
  opacity: 0.95;
}

.header-content {
  width: 80%;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header-nav-list {
  display: flex;
  gap: 3rem;
  list-style: none;
  letter-spacing: 0.1rem;
}

.nav-list-link {
  padding: 1rem;
  font-weight: bold;
  text-transform: uppercase;
  transition: 0.3s;
}

.nav-list-link:hover {
  background-color: var(--color-textOpacity);
  border-radius: 0.5rem;
  color: var(--color-primary);
}

/* SEÇÕES GERAL*/

span {
  font-weight: bold;
  font-size: 2.3rem;
}

.img-check {
  width: 1.2rem;
  margin-right: 1rem;
}

.itens-servicos {
  clear: both;
  font-size: 1.6rem;
  margin-left: 1rem;
  margin-bottom: 3rem;
}

h3 {
  text-align: center;
  font-size: 2.6rem;
  margin-bottom: 1.5rem;
}

.title {
  width: 100%;
  margin: 1rem auto;
}

.title p {
  text-align: center;
  height: 8vh;
  margin-bottom: 1.5rem;
}

/* SEÇÃO INICIAL */

.capa {
  clear: both;
  text-align: center;
  width: 90%;
  margin: 2rem auto;
  padding-bottom: 1rem;
  min-height: 10rem;
  border-bottom: 1px solid var(--color-secondary);
}

.capa h2 {
  padding: 1rem;
  text-align: left;
  margin-bottom: 1.5rem;
  font-size: 3.4rem;
  margin-left: 5rem;
}

.capa .p1 {
  display: block;
  margin-bottom: 0.5rem;
}

.capa .p2 {
  margin-bottom: 2rem;
}

/* SEÇÃO LAVAGEM - POLIMENTO */
.lavagem,
.polimento {
  float: left;
  padding: 1rem;
  margin-top: 3rem;
  margin-left: 30rem;
  margin-bottom: 3rem;
  max-width: 30%;
  min-height: 60vh;
  background-color: var(--color-primary);
  border: 1px solid var(--color-secondary);
  border-radius: 35px 10px;
  box-shadow: 0 0 10px var(--color-secondary);
}

.img-lavagem,
.img-polimento {
  display: inline-block;
  width: 30%;
}

.img-lavagem img,
.img-polimento img {
  display: block;
  margin: 0 1rem;
  width: 25vh;
  border-radius: 10px;
}

.descricao-lavagem,
.descricao-polimento {
  width: 60%;
  float: right;
  margin-top: 4rem;
}

/* SEÇÃO INTERIOR - RODAS */
.interior,
.rodas {
  float: right;
  padding: 1rem;
  width: 30%;
  min-height: 60vh;
  margin-top: 3rem;
  margin-right: 30rem;
  margin-bottom: 3rem;
  background-color: var(--color-primary);
  border: 1px solid var(--color-secondary);
  border-radius: 35px 10px;
  box-shadow: 0 0 10px var(--color-secondary);
}

.img-interior,
.img-rodas {
  display: inline-block;
  width: 30%;
}

.img-interior img,
.img-rodas img {
  display: block;
  margin: 0 1rem;
  width: 25vh;
  border-radius: 10px;
}

.descricao-interior,
.descricao-rodas {
  width: 60%;
  float: right;
  margin-top: 3rem;
}

/* SEÇÃO READ */
.read {
  clear: both;
  display: block;
  margin: 1rem auto;
  padding: 4rem 0 1rem;
  width: 60%;
}

#img-detalhes {
  float: left;
  width: 50%;
}

#img-detalhes img {
  display: block;
  width: 20rem;
  margin: 0 auto;
}

#list-detalhes {
  float: right;
  width: 50%;
  height: 20rem;
}

#itens {
  clear: both;
  list-style-type: square;
  font-size: 1.8rem;
  padding: 0;
  margin: 0.5rem 2rem;
}

.read p {
  clear: both;
  text-align: center;
  margin: 2rem 0;
  padding: 5rem 0 0;
}

.btn {
  clear: both;
  width: 50%;
  margin: 0 auto;
}

.btn-more {
  display: block;
  margin: 0 auto;
  width: 14rem;
  text-align: center;
  font-size: 1.8rem;
  border: none;
  border-radius: 0.5rem;
  padding: 0.6rem 1.2rem;
  background-color: var(--color-primary);
  opacity: 1;
  transition: 0.3s;
}

.btn-more:hover {
  font-weight: bold;
  opacity: 0.8;
  cursor: pointer;
}

/* FOOTER */
footer {
  width: 100%;
  clear: both;
  line-height: 3rem;
  text-align: center;
  background-color: var(--color-secondary);
  font-size: 1.6rem;
}
